<!-- app/views/contents/new.html.erb -->
<div class="container">
  <div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
      <div class="card hoverable z-depth-3 modern-card">

        <!-- (Opzionale) area per immagine di sfondo o illustrazione sulla sinistra -->
        <%# 
        <div class="card-image">
          <img src="/path/a/una/immagine_demostrazione.jpg" alt="Sfondo Card">
        </div>
         %>

        <!-- Contenuto principale -->
        <div class="card-content padded-content">
          <span class="card-title center-align">Nuovo Contenuto</span>
          
          <!-- Spazio tra titolo e form -->
          <div class="divider" style="margin-bottom: 20px;"></div>

          <%= render "form", content: @content %>
        </div>

        <!-- Sezione “azione” con link e pulsante -->
        <div class="card-action center-align">
          <%= link_to "Torna ai contenuti", contents_path, class: "blue-text text-darken-2" %>
        </div>

      </div> <!-- /.card -->
    </div>
  </div>
</div>


