<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Benvenuto, <%= @user.name.capitalize %>!</h1>
    <p>
      Grazie per esserti registrato su <strong>Studio Vitale</strong>.
    </p>
    <p>
      Ti accompagneremo in un percorso di benessere e alimentazione personalizzato.
    </p>
    <p>
      A presto!<br>
      <em>Il team di Studio Vitale</em>
    </p>
  </body>
</html>
