<div class="container">
  <h1 class="center-align teal-text text-darken-2">Benvenuto</h1>
  <p class="flow-text">Questa è la homepage del progetto <strong>Nutrizionista</strong>.</p>
</div>




<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
        