 <footer class="page-footer purple darken-4">
          
          <div class="footer-copyright">
            <div class="container">
             <div class="row">
              <div class="col s4">
        © 2025 Copyright Text
      </div>
      <div class="col s4">
        Social
      </div>
      <div class="col s4">
        <%= link_to "Chi Sono", chi_sono_path, class: "grey-text text-lighten-4 right" %>
      </div>
           </div>
           </div>
          </div>
        </footer>